@page "/recipe/{id:int}"
@using RecipesAPI.Models
@using RecipesWebApp.Services
@inject RecipeService RecipeService
@inject HttpClient Http

<h3>@(recipe?.Title ?? "Loading...")</h3>

@if (recipe is not null)
{
    <img src="@recipe.ImageUrl" class="card-img-top img-fluid" alt="@recipe.Title" style="object-fit: cover; height: 300px; width: 300px;">

    <h4>Description</h4>
    <p>@recipe.Description</p>

    <h4>Ingredients:</h4>
    <ul>
        @foreach (var ingredient in recipe.Ingredients)
        {
            <li>@ingredient</li>
        }
    </ul>

    <h4>Instructions:</h4>
    <p>@recipe.Instructions</p>

    <h4>Preparation time:</h4>
    <p>@recipe.PreparationTime minutes</p>

    <h4>Category</h4>
   <p>@recipe.Category</p>

   <h4>Cuisine Type</h4>
   <p>@recipe.CuisineType</p>

}
else
{
    <p>Recipe not found.</p>
}

@code {
    [Parameter] public int id { get; set; }
    private Recipe? recipe;

    protected override async Task OnInitializedAsync()
    {
        recipe = await RecipeService.GetRecipeByIdAsync(id);
    }
}

